@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Underdog&display=swap');
*{
	margin:0px;
	padding:0px;
}
body{
	background:radial-gradient(yellow,black);
	background-size: 100vw 100vw;
}
section{
	display: flex;
	justify-content: center;
}
section.cabecalho {
	width: 80vw;
	height: 15vh;
	margin-left: 10vw;
	background-color: white;
	border: 2px ridge black;
	border-radius: 90px;
	flex-direction: colum;
	text-align: center;
}
section.cabecalho h1{
	color:white ;
	font-size: 3vw;
	font-family: "Bungee Spice", sans-serif;
}
section.conteudo{
	width: 80vw;
	height: 60vh;
	margin-left: 10vw;
	margin-top: 3vh;
	background-color: yellow;
	border: 3px dashed red;
	border-radius: 16px;
}
#texto{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align:center;
}
#texto p{
	font-size: 2vw;
	font-family: "Underdog", system-ui;
}
#imagem{
	width:50%;/*view width - visão da largura*/
	height:90%; /* view height - visão da altura*/
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#imagem img{
	max-width: 90%;
	max-height: 90%;
	width: auto;
	height: auto;
}
section.link{
	width: 80vw;
	height: 5vh;
	margin-top: 3vh;
	margin-left: 10vw;
	background: linear-gradient(to right, black,red,white);
	border: 2px inset red;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
section.link div a{
	font-size: 1.5vw;
	color: black;
	font-family:"Underdog", system-ui;
}
